@page "/profile/UpdateDetails"

<h3>UpdateDetails</h3>

<button @onclick="NavigateToChangePassword">Change password</button>

@code {

    private void NavigateToChangePassword()
    {
        NavigationManager.NavigateTo("/profile/UpdateDetails/ChangePassword");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
