@page "/"
@using EcoEarthPOC.Components.Services;
@using EcoEarthPOC.Models;

<h1>Welcome to EcoEarth</h1>

@* Welcome @Setting.UserBasicDetail.Name *@


 <!-- Show some key user insight here-->
<div class="big-box">
    <label>Loren Ipsum</label>
</div>

<!-- Show the user's daily streak-->
<div class="sub-box">
    <label>Daily streak</label>
</div>

<!-- Show user's daily quests here-->
<div class="quest-box">
    <p class="quest-p">Ecoin Rewards Await!</p>
</div>

@code
{

}