@page "/home"
@using EcoEarthPOC.Components.Pages.Quests.DTOs
@using EcoEarthPOC.Components.Services;
@using EcoEarthPOC.Models;
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.DailyStreakService dailyStreakService
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.QuestService questService

<h1>
    Welcome to EcoEarth!
</h1>

@if (Setting.UserBasicDetail?.Name != null)
{
    <p>
        Great to see you, @Setting.UserBasicDetail.Name 😊
        Keep recycling and making Earth greener!
    </p>
}
else
{
    <p>
        Great to see you 😊! Please log in or register to continue.
    </p>
}

<!-- Show some key user insight here-->
<div class="big-box">
    <label>We've recycled ___ together</label>
</div>

<!-- Show the user's daily streak-->
<div class="sub-box">
    <label>Daily streak</label>
    <p>@DailyStreak</p>
</div>

<!-- Show user's daily quests here-->
<div class="quest-box">

    <table>
        <tr>
            <td>
                @foreach (var quest in quests)
                {
                    <p class="quest-p">@($"{quest.QuestInstruction} {quest.QuestGoal} {GetCategoryName(quest.CategoryId)} items")</p>
                }
            </td>
            <td>
                @foreach (var quest in quests)
                {
                    <p class="quest-p">@($"{quest.Progress}/{quest.QuestGoal}")</p>
                }
            </td>
        </tr>
    </table>


    <p class="quest-p">Ecoin Rewards Await!</p>
</div>

@code
{
    private int DailyStreak;
    private List<QuestDTO> quests;
    private Timer? _timer;

    // Id is passed here, must be changed before deployment
    protected override async Task OnInitializedAsync()
    {
        try
        {
            DailyStreak = await dailyStreakService.GetUserStreak();
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }

        try
        {
            quests = (await questService.GetAllQuests()).ToList();
        }
        catch (Exception)
        {
            quests = new List<QuestDTO>();
        }


        _timer = new Timer(async _ => await CheckDailyStreak(), null, 0, 1000);
        _timer = new Timer(async _ => await CheckDailyStreak(), null, 0, 1000);
    }

    public async Task CheckDailyStreak()
    {
        try
        {
            await dailyStreakService.CheckStreak();
            DailyStreak = await dailyStreakService.GetUserStreak();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }
    }

    public async Task AssignQuests()
    {
        try
        {
            await questService.AssignQuests();
            quests = quests = (await questService.GetAllQuests()).ToList();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            quests = new List<QuestDTO>();
        }
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    //converts questCategory to string
    private string GetCategoryName(int categoryId)
    {
        var categoryName = "";
        if (categoryId == 1)
        {
            categoryName = "plastic";
        }
        if (categoryId == 2)
        {
            categoryName = "glass";
        }
        if (categoryId == 3)
        {
            categoryName = "paper";
        }
        if (categoryId == 4)
        {
            categoryName = "metal";
        }
        if (categoryId == 5)
        {
            categoryName = "cardboard";
        }

        return categoryName;
    }


}