@page "/home"
@using EcoEarthPOC.Components.Services;
@using EcoEarthPOC.Models;
@inject EcoEarthPOC.Components.Services.EcoEarthAPI_Services.DailyStreakService dailyStreakService

<h1>
    Welcome to EcoEarth!
</h1>

@if (Setting.UserBasicDetail?.Name != null)
{
    <p>
        Great to see you, @Setting.UserBasicDetail.Name 😊
        Keep recycling and making Earth greener!
    </p>
}
else
{
    <p>
        Great to see you 😊! Please log in or register to continue.
    </p>
}

<!-- Show some key user insight here-->
<div class="big-box">
    <label>We've recycled ___ together</label>
</div>

<!-- Show the user's daily streak-->
<div class="sub-box">
    <label>Daily streak</label>
    <p>@DailyStreak</p>
</div>

<!-- Show user's daily quests here-->
<div class="quest-box">
    <p class="quest-p">Ecoin Rewards Await!</p>
</div>

@code
{
    private int DailyStreak;
    private Timer? _timer;

    // Id is passed here, must be changed before deployment
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AppVariables.UserId = 1;
            DailyStreak = await dailyStreakService.GetUserStreak();
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }

        _timer = new Timer(async _ => await UpdateDailyStreak(), null, 0, 1000);
    }

    public async Task UpdateDailyStreak()
    {
        try
        {
            await dailyStreakService.UpdateStreak();
            DailyStreak = await dailyStreakService.GetUserStreak();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            DailyStreak = -1;
        }
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

}