@page "/scanner/manualinput"
@inject EcoEarthPOC.Components.Services.OFFPackaging _offService

<div>
    <label for="inputText">Enter Text:</label>
    <input type="text" id="inputText" @bind="inputText" />
    <button @onclick="Submit">Submit</button>
</div>

<button @onclick="NavigateToMoreInfo">More Info</button>

<label for="outputText">Output:</label>
<div>@outputText</div>

@code {
    private string inputText;
    private string outputText;

    [Inject]
    NavigationManager navigationManager { get; set; }

    private async Task Submit()
    {
        try
        {
            if (!validateBarcodeNumber(inputText))
            {
                outputText = "Invalid barcode number, please try again";
            }
            else
            {
                var result = await _offService.GetPackagingInformation(inputText);

                if (result.Status == 0)
                {
                    throw new Exception("Product Not Found :(");
                }

                //TODO: Redirect to more details about product



                outputText = result.Product.Packaging;
            }
        }
        catch (Exception ex)
        {
            outputText = "Invalid input, please try again";
        }
    }

    // In the UK, barcodes can have format: EAN-13 (5901234123457), 
    //                                      UPC-A (036000291452), 
    //                                      EAN-8 (96385074),
    //                                      UPC-E (04252614).
    protected bool validateBarcodeNumber(string barcode)
    {
        // Validate barcode using reg exp
        var regex = new System.Text.RegularExpressions.Regex(@"^(?:\d{8}|\d{12}|\d{13}|\d{6})$");
        return regex.IsMatch(barcode);
    }

    private void NavigateToMoreInfo()
    {
        navigationManager.NavigateTo("/scanner/productinfo/" + inputText);
    }
}
