@page "/scanner/scanner"

<button @onclick="NavigateToBarcodeS">Scan a Barcode</button>
<button @onclick="NavigateToImageRec">AI Image Recognition</button>
<button @onclick="NavigateToManualInp">Manual input</button>

@code {
    private void NavigateToBarcodeS()
    {
        NavigationManager.NavigateTo("/scanner/Barcode");
    }
    private void NavigateToImageRec()
    {
        NavigationManager.NavigateTo("/");
    }
    private void NavigateToManualInp()
    {
        NavigationManager.NavigateTo("/");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}