@page "/profile/Achievements"

<h3>UserAchievements</h3>

<table>
    <tr>
        <td>
            <h5>Eco Warrior</h5>
            <h6>Recycled your first item</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Green beginner</h5>
            <h6>Recycled 10 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Eco-friendly enthusiast</h5>
            <h6>Recycled 50 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Sustainable champion</h5>
            <h6>Recycled 100 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Zero waste hero</h5>
            <h6>Recycled 500 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Recycling star</h5>
            <h6>Recycled 1000 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Recycling pro</h5>
            <h6>Recycled 10000 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>The collector</h5>
            <h6>Recycled 1 of each recycle type</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Polythene enthusiast</h5>
            <h6>Recycled 100 polythene items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Paper enthusiast</h5>
            <h6>Recycled 100 paper items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Glass enthusiast</h5>
            <h6>Recycled 100 glass items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Aluminium enthusiast</h5>
            <h6>Recycled 100 aluminium items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Steel enthusiast</h5>
            <h6>Recycled 100 steel items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Carboard enthusiast</h5>
            <h6>Recycled 100 cardboard items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Plastic bottles enthusiast</h5>
            <h6>Recycled 100 plastic bottles</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Tin cans enthusiast</h5>
            <h6>Recycled 100 tin cans</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Electronics enthusiast</h5>
            <h6>Recycled 100 electronics</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Textiles enthusiast</h5>
            <h6>Recycled 100 textiles</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Plastic enthusiast</h5>
            <h6>Recycled 100 plastic items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>HDPE enthusiast</h5>
            <h6>Recycled 100 HDPE items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>ldpe 4 low density polyethylene enthusiast</h5>
            <h6>Recycled 100 ldpe 4 low density polyethylene items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
</table>
@code {

}
