@using Microsoft.AspNetCore.Components.Routing  
@using Microsoft.AspNetCore.Components  

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcoEarth</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable @(collapseNavMenu ? "collapse" : "")" onclick="document.querySelector('.navbar-toggler').click()">  
    <nav class="flex-column">  
        <div class="nav-item px-3">  
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="Icons/icon_home.png" alt="Home" class="nav-icon" /> Home
            </NavLink>  
        </div>  
        <div class="nav-item px-3">  
            <NavLink class="nav-link" href="scanner/scanner">
                <img src="Icons/icon_scanner.png" alt="Scanner" class="nav-icon" /> Scanner
            </NavLink>  
        </div>  
        <div class="nav-item px-3">  
            <NavLink class="nav-link" href="rewards">
                <img src="Icons/icon_rewards.png" alt="Rewards" class="nav-icon" /> Rewards
            </NavLink>  
        </div>  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quests">
                <img src="Icons/icon_bell.png" alt="Quests" class="nav-icon" /> Quests
            </NavLink>
        </div>
        <div class="nav-item px-3">  
            <NavLink class="nav-link" href="profile">
                <img src="Icons/icon_.png" alt="Profile" class="nav-icon" /> Profile
            </NavLink>  
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <img src="Icons/icon_profile.png" alt="Login" class="nav-icon" /> Account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usertickets">
                <img src="Icons/icon_dialog.png" alt="UserTickets" class="nav-icon" /> Support
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <img src="Icons/icon_settings.png" alt="UserSettings" class="nav-icon" /> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <img src="Icons/icon_tree.png" alt="AboutUs" class="nav-icon" /> About us
            </NavLink>
        </div>
    </nav>  
</div>

@code 
{
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}