@page "/usertickets"
@using CommunityToolkit.Maui
@using CommunityToolkit.Maui.Core
@using EcoEarthPOC.Components.Services.EcoEarthAPI_Services

@inject UserTicketsService _userTicketsService

<p>Having issues? Create a ticket! Please enter any details you are able to provide below:</p>

<label for="inputText">Ticket Title: </label>
<input type="text" id="TickTitle" @bind="TickTitle" />
<label for="inputText">Ticket Details: </label>
<input type="text" id="TickDescription" @bind="TickDesc" />

<p>So we can contact you directly, leave your email here. This is not required though </p>

<label for="inputText">Email Address </label>
<input type="text" id="TickEmail" @bind="TickEmail" />

<button @onclick="Submit">Submit</button>

<p>If you are having issues and would prefer to contact us directly, our team are available by email:</p>

@code 
{
    private string TickTitle { get; set; }
    private string TickDesc { get; set; }
    private string TickEmail { get; set; }

    private async Task Submit()
    {
        if (string.IsNullOrWhiteSpace(TickTitle) || string.IsNullOrWhiteSpace(TickDesc))
        {
            // popup
        }

        if (!string.IsNullOrEmpty(TickEmail))
        {
            if (!validateEmail(TickEmail))
            {
                // popup
            }
        }

        var ticket = new EcoEarthPOC.Components.Pages.UserTickets.DTOs.UserTicketsDTO
        {
            Title = TickTitle,
            Description = TickDesc,
            UserEmail = TickEmail,
            Date = DateOnly.FromDateTime(DateTime.Now)
        };

        // Add logic to submit the ticket using _userTicketsService

        await _userTicketsService.PostTicketAsync(ticket);
    }

    // Validates email using reg exp
    public bool validateEmail(string email)
    {
        var regex = new System.Text.RegularExpressions.Regex(@"(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|""(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*"")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])");
        return regex.IsMatch(email);
    }
}
