body {
}

button {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    width: 95%;
    height: 95%;
    color: white;
    background: linear-gradient(45deg, #006400, #6da96d); 
    background-size: cover;
    background-position: center;
    border: none;
    outline: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

    button:hover {
        background-color: #77a377;
    }
