@page "/profile"

<h3>Profile Page</h3>

<button @onclick="NavigateToUserAchievements" class="button-scanner">User Achievements</button>
<button @onclick="NavigateToUpdateDetails">Update Details</button>
<button @onclick="NavigateToAvatarSelection">Avatar Selection</button>
<button @onclick="NavigateToLeaderboard">Leaderboard</button>
<button @onclick="NavigateToUserItemList">User item list</button>

@code {
    private void NavigateToUserAchievements()
    {
        NavigationManager.NavigateTo("/profile/Achievements");
    }
    private void NavigateToUpdateDetails()
    {
        NavigationManager.NavigateTo("/profile/UpdateDetails");
    }
    private void NavigateToAvatarSelection()
    {
        NavigationManager.NavigateTo("/profile/AvatarSelection");
    } 
    private void NavigateToLeaderboard()
    {
        NavigationManager.NavigateTo("/profile/Leaderboard");
    }
    private void NavigateToUserItemList()
    {
        NavigationManager.NavigateTo("/profile/ItemList");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
