@page "/profile/Achievements"

<h3>UserAchievements</h3>

<table>
    <tr>
        <td>
            <h5>Eco Warrior</h5>
            <h6>Recycled your first item</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Green beginner</h5>
            <h6>Recycled 10 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Eco-friendly enthusiast</h5>
            <h6>Recycled 50 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Sustainable champion</h5>
            <h6>Recycled 100 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Zero waste hero</h5>
            <h6>Recycled 500 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Recycling star</h5>
            <h6>Recycled 1000 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
    <tr>
        <td>
            <h5>Recycling pro</h5>
            <h6>Recycled 10000 items</h6>
        </td>
        <td>Incomplete</td>
    </tr>
</table>
@code {

}
