body {

}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    margin-top: 10px;
    background-image: url('Backgrounds/NavBarBackground.jpg');
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    font-family: 'Minecraft', sans-serif;
}

.artwork {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    image-rendering: pixelated;
}
