
body {
    font-family: Minecraft, sans-serif;
    background-color: #E8F5E9; /* Light green background */
    color: #2E7D32; /* Dark green text */
    margin: 10px;
}

header, footer {
    background-color: #388E3C; /* Darker green for header and footer */
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-image: url('Backgrounds/NavBarBackground.jpg');
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    font-family: 'Minecraft', sans-serif;
}

button:hover {
    background-color: #45A049; 
}

#RecyclableProducts {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#RecyclableProducts li {
    display: flex;
    align-items: center;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #155724;
    text-align: center;
}

#NonRecyclableProducts {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

    #NonRecyclableProducts li {
        display: flex;
        align-items: center;
        background-color: #f8d7da;
        border: 1px solid #c3e6cb;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #155724;
        text-align: center;
    }

.UserRewardsBox {  
   background-image: url('Backgrounds/NBBackgroundEdit.jpg');  
   background-size: cover;  
   background-repeat: no-repeat;  
   background-position: center;  
   padding: 10px;  
   margin: 10px 0;  
   text-align: center;  
   font-family: Minecraft;  
   color: white;  
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
   border-radius: 10px; }

.UserRewardsBox :hover
{
    transform:scale(1.05)
}

.product-title {
    font-size: 50px;
    text-align: center;
}

.product-image {
    border: 5px solid #2E7D32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -ms-align-content: inherit;
    -webkit-align-content: inherit;
    align-content: inherit;
    margin: 0 auto;
    display: block;
}
