@page "/scanner/scanner"

<HeadContent>
    <link href="Scanner/ScannerSS.css" rel="stylesheet" />
</HeadContent>

<button @onclick="NavigateToBarcodeS" class="button-scanner">Scan a Barcode</button>
<button @onclick="NavigateToImageRec">AI Image Recognition</button>
<button @onclick="NavigateToManualInp">Manual input</button>

@code {
    //
    private void NavigateToBarcodeS()
    {
        NavigationManager.NavigateTo("/scanner/barcode");
    }
    private void NavigateToImageRec()
    {
        NavigationManager.NavigateTo("/");
    }
    private void NavigateToManualInp()
    {
        NavigationManager.NavigateTo("/scanner/manualinput");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}