body {
    font-family: 'Minecraft', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    color: #00ff00; 
    border-color: #00cc00; 
    transition: transform 0.3s ease-in-out;
    image-rendering: pixelated; 
    text-align: center;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-image: url('Backgrounds/NavBarBackground.jpg');
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    font-family: 'Minecraft', sans-serif;
}


