@page "/scanner/scanner"

<h5>Scan a product and earn points!</h5>

<p>Ensure you are in a well lit area and prepare your packaging</p>

<button @onclick="NavigateToBarcodeScanner" class="button">Barcode Scanner</button>
<br style="padding: 10px;" />
<button @onclick="NavigateToManualInp" class="button">Manual input</button>

@code {
    // This page is just a basic navigation page

    private void NavigateToBarcodeScanner()
    {
        NavigationManager.NavigateTo("/scanner/scanner/Barcoding");
    }
    private void NavigateToManualInp()
    {
        NavigationManager.NavigateTo("/scanner/manualinput");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}